.inputContainer {
    display: flex;
    gap: 6px;
    align-items: center;
}

.label {
    font-size: 16px;
    font-weight: 600;
    color: #191f2b;
}

.input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #d1d5db;
    border-radius: 5px;
    outline: none;
    padding: 0.5em;
    font-size: 16px;
}

.input:focus {
    border-color: #2563eb;
}

.input::placeholder {
    color: #9ca3af;
}