.homePageContainer {
    padding: 3rem 4rem 0 4rem;
}

.homePageContainer .title {
    font-size: 40px;
    margin-bottom: 3rem;
}

.homePageContainer .inputContainer {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}

.homePageContainer .flightContainer {
    width: 50vw;
}