.card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    border-radius: 10px;
    gap: 1rem;
}

.defaultCard {
    border: 1px solid #d1d5db;
}

.successCard {
    border: 1px solid #16A34A;
}

.card .successMessage {
    color: #16A34A;
    grid-column: 1 / 5;
}

.card .departure {
    grid-column: 1 / 2;
}

.card .arrival {
    grid-column: 2 / 3;
}

.card .planeName {
    grid-column: 3 / 4;
}

.card .departureTime {
    grid-column: 1 / 4;
}

.card .duration {
    grid-column: 1 / 3;
}

.card .price {
    grid-column: 3 / 4;
}

.card button {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    align-self: center;
    justify-self: end;
}