.pageContainer {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.pageContainer .formContainer  {
    width: 45vw;
}

.pageContainer .formContainer label {
    width: 30%;
}

.pageContainer .formContainer > div {
    margin-bottom: 1rem;
}

.pageContainer .errorMessage {
    color: #DC2626;
}